body {
  background: #000000;
}

.swiper-button-prev,
.swiper-button-next {
  color: #fafafa;
}
.container {
  position: relative;
  color: #fafafa;
  overflow: hidden;
}

@keyframes grow {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(3.5);
  }
}

.animate {
  animation: grow infinite alternate ease-in-out 8s;

  width: 100vw;
  height: 750px;
}
.top-left {
  position: absolute;
  top: 77px;
  left: 110px;
}
